
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --padding-container: 100px 0;
  --color-title: #001a49;



}

/*Tipo de letra, junto al url de la segunda linea*/

body{
  font-family: 'Nunito Sans', sans-serif;
  background-image: linear-gradient(100deg, #0000008c 0%, #0000008c 100%), url('../images/fondo\ dos.png');
  background-size: cover;
  z-index: -1;
}
/*--------->boton de menu*/
.menu{
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  right: 15px;
  top: 15px;
  z-index: 100;
}

.barra_container{
  display: flex;
  min-height: 100vh;
/*  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);*/

}


.nav_title{
  font-weight: 300;
}


/*--------------> Main*/

#inicio{
  background-color: rgb(0, 23, 31);
  color: #fff;

}

.main_content{
  margin-left: 250px;
  /* flex-grow: 1; */
  padding: 40px;
  transition: margin-left 0.5s ease;
}
.main_content.min_main{
  margin-left: 80px;
}

/*------------> Hero container*/

/* .hero {
  padding: 2rem;
} */
/*----------> hero container*/
.hero_container{
  max-width: 800px;
  display: grid;
  align-content: space-evenly;
  --padding-container: 0px;
  gap: 1em;
  padding-bottom: 100px;
  color: white;
}

.hero_title{
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 50px;
}
/*------------> checklist*/
.checklist {
  list-style-type: none;
  padding: 0;
}

.checklist-item {
  background-color: #1768ac; 
  border-radius: 10px; 
  padding: 15px 20px;
  margin-bottom: 50px; 
  transition: background-color 0.3s ease, margin-left 0.5s ease; 
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

/* Cambia el color de fondo al pasar el mouse */
.checklist-item:hover{
  background-color: #003459;
}
/* Estilos para las casillas de verificación */
.checklist-item input[type="checkbox"] {
  margin-right: 10px;
  border-radius: 50px;
}
.checklist-item label{
  display: inline-block;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none ;
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer; 
}
/* Estilos para el texto del checklist cuando se marca la casilla */
.checklist-item input[type="checkbox"]:checked + label {
  text-decoration: line-through; 
  color: #ccc; 
}

@media (max-width: 600px) {
  .checklist-item{
    margin-left: 0;
  }
}

/*margen*/
.checklist-item:nth-child(1) {
  margin-left: 20px; 
}
.checklist-item:nth-child(3) {
  margin-left: 120px; 
}
.checklist-item:nth-child(5) {
  margin-left: 280px; 
}
.checklist-item:nth-child(7) {
  margin-left: 120px; 
}
.checklist-item:nth-child(9) {
  margin-left: 20px; 
}


/*--------->barra lateral*/

.container{
  margin: 0 auto;
}
.barra-lateral {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background-color: rgb(0, 52, 89);
  transition: width 0.5s ease,left 0.5s ease;
  z-index: 50;

}

.mini_barra_lateral{
 width: 80px;
}

/*----->letras del nav plegable*/
.barra-lateral span{
  width: 100px;
  white-space: nowrap;
  font-size: 18px;
  text-align: left;
  opacity: 1;
  transition: opacitys 0.5s ease, width 0,5s ease;
  color: #fff;
}
.barra-lateral span.oculto{
  opacity: 0;
  width: 0;
}

/*arreglo para el nombre de la pagina*/
.barra-lateral .nombre-pagina {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.barra-lateral .nombre-pagina img{
  min-width: 50px;
  font-size: 40px;
  cursor: pointer;
}
.barra-lateral .nombre-pagina span{
  font-size: 20px;
  margin-left: 5px;
  opacity: 1;
  transition: opacity 0.5s eases;
}
.barra-lateral .nombre-pagina span.oculto{
  opacity: 0;
}
.barra-lateral .nombre-pagina span{
  margin-left: 5px;
  font-size: 25px;
}

/*-----------> Boton*/
.barra-lateral .boton{
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 23, 31);
}
.barra-lateral .boton img{
  min-width: 50px;
  font-size: 20px;
}

/*---> items en la nav*/
.barra-lateral .nav_menu{
  height: 100%;
  /* overflow-y: auto;
  overflow-x: hidden; */
}
.barra-lateral .nav_menu::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;

}
.barra-lateral .nav_menu li{
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}
.barra-lateral .nav_menu a{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(0, 52, 89);
  color: #ffffff;
}
.barra-lateral .nav_menu a:hover{
  background-color: rgb(0, 23, 31);
  color: #fff;
}
.barra-lateral .nav_menu img{
  min-width: 45px;
  font-size: 20px;
}
.barra-lateral .linea{
  width: 200px;
  height: 1px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
}
/*----> estilos usuario*/
.barra-lateral .usuario{
  width: 100%;
  display: flex;
}
.barra-lateral .usuario img{
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}
.barra-lateral .usuario .info_usuario{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
}
.barra-lateral .usuario .nombre_email{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.barra-lateral .usuario .nombre{
  font-size: 15px;
  font-weight: 600;
}
.barra-lateral .usuario .email{
  font-size: 15px;
}
.barra-lateral .usuario img{
  font-size: 20px;
}

/*------> media*/
@media (max-height: 660px){
  .barra-lateral .nombre-pagina{
    margin-bottom: 5px;
  }
}


@media (max-width: 600px){
  .barra-lateral{
    position: fixed;
    left: -250px;
  }
  .max_barra_lateral{
    left: 0;
  }
  .menu{
    display: flex;
  }
  .menu img:nth-child(2){
    display: none;
  }
 .main_content{
    margin-left: 0;
  }
  .main_content.min_main{
    margin-left: 0;
  }
}

/*--------->explorar.html*/

.container_dos{
  max-width: 800px;
  display: grid;
  align-content: space-evenly;
  --padding-container: 0px;
  gap: 1em;
  padding-bottom: 100px;
  color: white;
  align-items: center;
}

.title{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
}
.parrafo{
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
}

/*------------> div about*/
.about{
  text-align: center;
}
.subtitulo{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 25px;
}
.about_parrafo{
  line-height: 1.7;
}
.about_main{
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about_sub{
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.about_parrafo{
  color: #fff;
  margin-bottom: 20px;
}
.about_icons{
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #001a49;
  border-radius: 10px;
  padding: 20px;
}
.about_icon{
  width: 160px;
}
.cta{
  display: inline-block;
  background-color: #fff;
  justify-self: center;
  color: #001a49;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

/*-------->nosotros*/

.nosotros{
  


}
.nosotros_container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}
.nosotros_imagen{
  max-width: 500px;
}
.nosotros_parrafo{
  line-height: 1.7;
  margin-bottom: 15px;
  color: #fff;
}
.nosotros_img{
  width: 100%;
  display: block;
}

/*------->calendario en citas.html*/

.contenedor{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_calendar{
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  background-color: #001a49;
}
.left{
  width: 60%;
  padding: 20px;
}
.calendar{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
  background-color:#1768ac;
}
.calendar::before,
.calendar::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 0;
  background-color: #d5d5d5;
  transform: translateY(-50%);
}

/*---------> articulos de explorar*/

.articulos_interes{
  color: #fff;
  text-align: center;

}
.articulos_container{
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}
.articulos_padding{
  padding: 0;
  transition: padding .3s;
  border: 1px solid #fff;
  border-radius: 6px;
}
.articulos_padding--add{
  padding-bottom: 30px;
}
.articulos_respuestas{
  padding: 0 30px 0;
  overflow: hidden;
  
}
.arti_arrow{
  border-radius: 50%;
  background-color: #001a49;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform .3s;
}
.arti_title{
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: #fff;
  justify-content: space-between;


}
.arti_img{
  display: block;

}
.arti_arrow--rotate{
  transform: rotate(180deg);
}
.respuestas_show{
  text-align: left;
  height: 0;
  transition: height .3s;
}

/*----> cuenta regresiva*/
